.experience {
  h3 {
    @apply text-[32px] text-black-300 mb-2;
  }
  span {
    @apply text-black-300 lg:text-primary text-[22px];
  }
  p {
    @apply text-[16px];
  }

  &__item {
    position: relative;
    &:not(:last-child) {
      @apply mb-8  pb-8;

      &::after {
        content: "";
        @apply absolute bottom-0 left-0 h-[1px] bg-primary;
        height: 2px;
        width: 0;
        transform-origin: bottom right;
        transition: width 0.3s ease;
      }

      &::before {
        content: "";
        @apply absolute bottom-0 left-0 h-[1px] bg-black-300;
        height: 2px;
        width: 100%;
        transform-origin: bottom right;
        transition: width 0.3s ease;
      }

      &:hover {
        border-color: transparent;
        &::after {
          width: 100%;
          transform-origin: bottom left;
        }
      }
    }
  }
}
