.recent_work {
  &_item {
    &:nth-child(even) {
      > div {
        > div {
          &:first-child {
            @apply md:order-2;
          }
          &:last-child {
            @apply md:order-1 md:ml-auto;
            // margin-left: auto;
          }
        }
      }
      .recent_work_item-content {
        // padding-left: 48px;
        @apply px-4 md:pr-0 md:pl-8 lg:pl-12 xl:pl-0;
      }
    }
    &:nth-child(odd) {
      .recent_work_item-content {
        // padding-right: 48px;
        @apply px-4 md:pl-0 md:pr-8 lg:pr-12 xl:pr-0;
      }
    }

    ul {
      li {
        position: relative;
        &:not(:last-child) {
          &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 15px;
            background-color: #fff;
            top: 50%;
            transform: translateY(-50%);
            right: -16px;
          }
        }
      }
    }

    &:not(:last-child) {
      @apply mb-[80px] md:mb-[120px] lg:mb-[200px];
    }
  }
  // .btn__filled {
  //   &::before {
  //     content: "";
  //     @apply absolute  bg-black-100 z-[-1] opacity-0 top-[5px] left-[5px] bottom-[-5px] right-[-5px] transition-all duration-700 ease-in-out;
  //   }
  //   &:hover::before {
  //     @apply opacity-100;
  //   }
  // }
}
