html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.recent_work {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;

  @apply py-12 lg:py-0;

  &_item {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    @apply p-4 md:p-8 lg:p-12;

    ul {
      li {
        position: relative;

        &:not(:last-child) {
          &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 15px;
            background-color: #fff;
            top: 50%;
            transform: translateY(-50%);
            right: -16px;
          }
        }
      }
    }
  }

  &:nth-child(4n + 1) {
    @apply bg-black;

    * {
      @apply text-white
    }

    .btn__outlined {
      @apply border-white;
    }
  }

  &:nth-child(4n + 2) {
    @apply bg-blue-700;

    * {
      @apply text-white
    }

    .btn__outlined {
      @apply border-white;
    }
  }

  &:nth-child(4n + 3) {
    @apply bg-yellow-400;

    * {
      @apply text-black;
    }
  }

  &:nth-child(4n + 4) {
    @apply bg-cyan-400;

    * {
      @apply text-black;
    }
  }

}