.recent_work {
  &_item {
    &:nth-child(even) {
      > div {
        > div {
          &:first-child {
            @apply md:order-2;
          }
          &:last-child {
            @apply md:order-1;
          }
        }
      }
    }

    .featured__image {
      border-radius: 12px;
      overflow: hidden;
    }

    ul {
      li {
        position: relative;
        &:not(:last-child) {
          &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 15px;
            background-color: #fff;
            top: 50%;
            transform: translateY(-50%);
            right: -16px;
          }
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 80px;
    }
  }
}
