.hamburger {
  &::before,
  &::after {
    width: 100%;
    height: 4px;
    content: "";
    position: absolute;
    left: 0;
    background-color: rgb(96, 165, 250);
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  span {
    transition: opacity 0.1s linear;
  }

  &.active {
    span {
      opacity: 0;
      visibility: hidden;
    }
    &::before {
      transform: rotate(-45deg);
      top: 8px;
    }
    &::after {
      transform: rotate(45deg);
      bottom: 8px;
    }
  }
}
