@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scroll-behavior: smooth;
	scroll-padding-top: 100px;
}
body {
	font-family: "Kanit", sans-serif;
}

.flex-center {
	@apply flex justify-center items-center gap-4;
}

.flex-between {
	@apply flex justify-between items-center;
}

h1,
h2,
h3,
h4,
h5 {
	@apply font-[400];
	font-family: "Unbounded", sans-serif;
}

p {
	@apply text-black text-[18px] font-[400];
	letter-spacing: 1px;
	line-height: 1.8;
}

h1 {
	@apply text-[32px] leading-[42px] md:text-[44px] md:leading-[54px] xl:text-[62px] xl:leading-[72px] font-[800] text-primary uppercase;
}

h2 {
	@apply lg:text-[40px] leading-[42px] text-[32px] text-primary;
}

h3 {
	@apply text-[24px] lg:text-[28px] font-[800] text-black-300;
}

label {
	@apply text-[24px] pb-2 block;
}

input,
textarea {
	@apply w-full py-2 px-4 border-[1px] border-primary text-[18px] rounded-lg;
}
input {
	@apply mb-4;
}
svg {
	width: 32px;
	height: 32px;
	@apply text-white;
	/* fill: #fff; */
}
a {
	transition: all 0.3s ease-in-out;
}

.tooltip__msg {
	@apply absolute top-[-30px] right-0 opacity-0 invisible;
	transition: all 0.3s ease-in-out;
}

.btn {
	cursor: pointer;
	border-radius: 60px;
	padding: 0 40px 3px;
	height: 60px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 100%;
	white-space: nowrap;
	transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.btn__outline {
	border: 2px solid #1d1d1d;
	background-color: transparent;
	color: #1d1d1d;
}
.btn__filled {
	@apply bg-primary text-white;
}
@layer utilities {
	.section__gap {
		@apply lg:mb-[120px] md:mb-[80px] mb-[60px];
	}
	.section__title {
		@apply text-center lg:text-start mb-8;
	}

	.section__title h1,
	.section__title h2,
	.section__title h3 {
		@apply font-[800];
	}
	.fixed-download-btn svg {
		@apply w-[32px] h-[32px];
		fill: #fff;
	}
}
